body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  font-family: 'Dancing Script', cursive, sans-serif;
}

.bg {
  position: absolute;
  background-image: url("https://html.design/demo/feane/images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  inset: 0;
  height: 100vh;
  background-position: center;
}

.hero-bg {
  position: absolute;
  inset: 0;
  height: 100vh;
  /* background-color: red; */
}

.hero-bg img {
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.about {
  background-color: #222831;
  padding: 90px 0;
}

.about_image_container {
  position: relative;
  display: flex;
  justify-content: center;
}

.about_image_container img {
  position: relative;
  width: 100%;
  max-width: 445px;
}

.about_title_container {
  display: flex;
  align-items: flex-start;
}

.secondary-font {
  font-family: 'Dancing Script', cursive
}

.rounded {
  border-radius: 2px
}

.rounded-xs {
  border-radius: 4px
}

.rounded-sm {
  border-radius: 6px;
}

.rounded-lg {
  border-radius: 8px;
}

.rounded-2xl {
  border-radius: 16px;
}

.rounded-3xl {
  border-radius: 32px;
}

.rounded-full {
  border-radius: 100%;
}

.white-nowrap {
  white-space: nowrap;
}

.view-height-full {
  height: 100vh;
}

.fit-content {
  width: fit-content;
}

.active-link-menu {
  color: #e69c00 !important;
}

.link-menu-hovered:hover {
  color: #e69c00 !important
}

.header-button-hovered:hover {
  background-color: #e69c00 !important
}

.input-form {
  padding: 0.8rem;
}


.footer-contact-links-hovered:hover * {
  color: #e69c00 !important;
}

.footer-social-links-hovered:hover * {
  color: #e69c00 !important;
}


.promotions-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

@media(max-width: 567px) {
  .promotions-container {
    grid-template-columns: 1fr
  }
}

.inset-0 {
  inset: 0;
}

.w-fit {
  width: fit-content;
}

.hero-slider-max-w {
  max-width: 550px;
}

.text-justify {
  text-align: justify;
}

.header-carousel-position {
  position: absolute;
  top: 60%;
  left: 0;
  transform: translateY(-50%);
}

.header-carousel-indicators {
  position: absolute;
  top: 60%;
  left: -65%;
}

.header-carousel-indicator {
  border: none !important;
  border-radius: 50%;
}

.header-carousel-indicator.active {
  background: rgb(255, 190, 51) !important;
  height: 20px !important;
  width: 20px !important;
}

.header-carousel-indicator:not(.active) {
  background: #FFF !important;
  width: 12px !important;
  height: 12px !important;
}

.text-sm {
  font-size: 14px;
}

.text-base {
  font-size: 16px;
}

.text-lg {
  font-size: 18px;
}

.text-40 {
  font-size: 40px;
}

.text-56 {
  font-size: 56px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-44 {
  padding-top: 44px;
}

.our-menu-item__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  padding-bottom: 90px;
}

@media (max-width: 992px) {
  .our-menu-item__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .our-menu-item__container {
    grid-template-columns: 1fr
  }
}

.our-menu-item {
  background-color: #212832;
  width: 100%;
  padding: 0 !important;
}

.our-menu-item:not(.active) {
  display: none;
}

.our-menu-item_controllers button {
  padding: 8px 24px;
  border-radius: 24px;
  color: #FFF;
  background-color: #222831;
  border: none;
  cursor: pointer;
}

.our-menu-item_controllers button:not(.active) {
  color: #0c0c0c;
  background-color: transparent;
}

.our-menu-item__top {
  height: 215px;
  background: rgb(241, 242, 243);
  width: 100%;
  border-bottom-left-radius: 46px;
}

.our-menu-item>div img {
  max-height: 145px !important;
  transition: all ease .3s;
}

.our-menu-item>div img.scaled {
  transform: scale(1.1);
}

.our-menu-item__bottom {
  padding: 25px !important;
}

.our-menu-item__bottom h5 {
  color: #FFF;
}

.our-menu-item__bottom p {
  color: #FFF;
  font-size: 16px;
  margin-bottom: 16px;
}

.our-menu-item__bottom>div a {
  width: 40px;
  height: 40px;

  background-color: rgb(255, 190, 51);
  color: white;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
}

.our-menu-item__bottom>div a i {
  width: 16px;
  height: 16px;
}

.font-semibold {
  font-weight: 600;
}

.p-6 {
  padding: 24px;
}

.gap-4 {
  gap: 16px;
}

.pb-90 {
  padding-bottom: 90px;
}

.form-button {
  padding: 10px 54px;
  background-color: #ffbe33;
  color: #FFFFFF;
  border: none;
  border-radius: 45px;
  transition: all ease .3s;
  white-space: nowrap;
  cursor: pointer;
  text-transform: uppercase;
}

.form-button:hover {
  background-color: #e69c00
}

.button-carousel {
  background-color: #ffbe33;
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.m-button {
  margin-right: 5px;
}

.border-img {
  border: 4px solid #ffbe33;
  border-radius: 100%;
}

.navbar-toggler {
  background-color: #FFC107 !important;
}

.arrow-up-carrousel-image {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  border: 10px solid transparent;
  content: "";
  border-right-color: #FFC107;
}

.nav-background {
  background-color: #212832;
}

@media(min-width: 992px) {
  .nav-background {
    background-color: transparent;
  }
}