body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  font-family: 'Dancing Script', cursive, sans-serif;
}

.bg {
  position: absolute;
  background-image: url("https://html.design/demo/feane/images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  inset: 0;
  height: 100vh;
  background-position: center;
}

.hero-bg {
  position: absolute;
  inset: 0;
  height: 100vh;
  /* background-color: red; */
}

.hero-bg img {
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.about {
  background-color: #222831;
  padding: 90px 0;
}

.about_image_container {
  position: relative;
  display: flex;
  justify-content: center;
}

.about_image_container img {
  position: relative;
  width: 100%;
  max-width: 445px;
}

.about_title_container {
  display: flex;
  align-items: flex-start;
}

.secondary-font {
  font-family: 'Dancing Script', cursive
}

.rounded {
  border-radius: 2px
}

.rounded-xs {
  border-radius: 4px
}

.rounded-sm {
  border-radius: 6px;
}

.rounded-lg {
  border-radius: 8px;
}

.rounded-2xl {
  border-radius: 16px;
}

.rounded-3xl {
  border-radius: 32px;
}

.rounded-full {
  border-radius: 100%;
}

.white-nowrap {
  white-space: nowrap;
}

.view-height-full {
  height: 100vh;
}

.fit-content {
  width: fit-content;
}

.active-link-menu {
  color: #e69c00 !important;
}

.link-menu-hovered:hover {
  color: #e69c00 !important
}

.header-button-hovered:hover {
  background-color: #e69c00 !important
}


.testGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.inset-0 {
  inset: 0;
}

.w-fit {
  width: fit-content;
}

.hero-slider-max-w {
  max-width: 550px;
}

.text-justify {
  text-align: justify;
}

.header-carousel-position {
  position: absolute;
  top: 60%;
  left: 0;
  transform: translateY(-50%);
}

.header-carousel-indicators {
  position: absolute;
  top: 60%;
  left: -65%;
}

.header-carousel-indicator {
  border: none !important;
  border-radius: 50%;
}

.header-carousel-indicator.active {
  background: rgb(255, 190, 51) !important;
  height: 20px !important;
  width: 20px !important;
}

.header-carousel-indicator:not(.active) {
  background: #FFF !important;
  width: 12px !important;
  height: 12px !important;
}

.text-sm {
  font-size: 14px;
}

.text-base {
  font-size: 16px;
}

.text-lg {
  font-size: 18px;
}

.text-56 {
  font-size: 56px;
}