.backdrop-saturate-blur {
  backdrop-filter: saturate(180%) blur(5px);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
